#main-page {
  margin: 0px;
  background-color: white;
}
.blog-cover {
  background-color: #E4CF72
}
.title {
  color: #2D7166;
  text-align: center;
  font-family: 'Amatic SC', cursive;
}
#blog-title {
  font-size: 72px;
  font-weight: bold;
  padding-top: 72px;
}
#blog-description {
  padding-bottom: 38px;
  font-size: 38px;
}

.page-menu {
  width: 100vw;
  font-size: 93.8%;
  position: relative;
  position: absolute;
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-around;
}

.page-item a {
  color: #2D7166;
  position: relative;
  margin: 12px 12px 12px 12px;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
  padding-bottom: 12px;
}

.page-item a:hover {
  text-decoration: none;
  color: #2D7166;
  border-bottom: solid 1px #2D7166;
}

.main-propos {
margin-top: 38px;
}
.picture {
  position: absolute;
  background-image: url(src/pictures/julie_mapi.jpg);
  background-size: cover;
  width: 306px;
  top: 341px;
  height: 420px;
  left: 215px;
  box-shadow: 3px 3px 1px #E4CF72;
  border-radius: 5px;
}

.propos-content  {
  position: absolute;
  padding: 32px;
  padding-left: 121px;
  width: 597px;
  height: 343px;
  left: 438px;
  top: 576px;
  background: #E4CF72;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}











/**{
  margin: 0;
}
.container {
  background-color: #C9CBA3;
  position: relative;
  width: 1440px;
  height: 1024px;
}
.profile-pic {
  background-image: url(src/pictures/julie_mapi.jpg);
  position: absolute;
  width: 459px;
  height: 750px;
  left: 62px;
  top: 116px;
  box-shadow: 9px 18px 1px rgba(186, 212, 170, 0.73);
  border-radius: 5px;
}
.profile-pic img {
  width: 459px;
  height: 750pxpx;
  left: 62px;
  top: 116px;
  border-radius: 5px;
}
.title-name {
  position: absolute;
  width: 764px;
  height: 204px;
  left: calc(50% - 764px/2 + 183px);
  top: 73px;

  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 114px;
  text-align: center;

  color: #B2A3A3;
}
.about-me {
  position: relative;
  width: 1131px;
  height: 666px;
  left: 200px;
  top: 277px;

  background: #FFFBFF;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
#content-about-me {
  position: absolute;
  width: 724px;
  height: 595px;
  left: 384px;
 /* top: 16px;*/
  background-color: red;
  margin-top :32px;
  margin-bottom:32px;
}
*/
